################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/wa-FastFoodSelfService.products_tools_api
/Api/bin/Debug/net8.0
/Api/obj
/Application/bin/Debug/net8.0
/Application/obj
/CrossCutting/bin/Debug/net8.0
/CrossCutting/obj
/Domain/bin/Debug/net8.0
/Domain/obj
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
/UnitTest/bin/Debug/net8.0
/UnitTest/obj
/IntegrationTests/bin/Debug/net8.0
/IntegrationTests/obj
